body{
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: wheat;
}
.caixatexto{
    background-color:rgb(223, 164, 164);
    border-radius: 20%;
    width: 40%;
    height: 410px;
    padding-bottom: 8%;
    margin-bottom: 3%;
    margin-top: 2%;
    margin-left: 30%;
    font-size: 22px;
}
h1{
    background-color: rgb(241, 184, 202);
    border-radius: 40%;
    font-size: 30px;
    padding-left: 3%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
h2{
    font-size: 15px;
    font-weight: 400;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -4%;
    padding: 4%;
}
textarea{
    color: brown;
    font-size: 21px;
    background-color: rgb(203, 203, 247);
    border-radius: 9%;
    margin-left: 15%;
    margin-right: 30px;
    margin-top: 10px;
    padding-bottom: 2%;
    width: 70%;
    height: 13vh;
    align-items: center;
}
input{
    color: brown;
    font-size: 15px;
    background-color: rgb(203, 203, 247);
    border-radius: 9%;
    margin-left: 150px;
}
button{
    color: brown;
    background-color: rgb(203, 203, 247);
    margin-left: 150px;
    border-radius: 45%;
    margin-top: 30px;
    align-items: center;
    font-size: 15px;
    
}
label{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.inicio{
    font-size: 25px;
    margin-left: 40%;
    margin-bottom: 10px;
}
.topo{
    background-image: linear-gradient( to right,rgb(241, 184, 202), rgb(203, 203, 247) );
    width: 100%;
    height: 30px;
    padding-top: 40px;
}
::marker{
    color:wheat;
}
h3{
    font-size: 40px;
    margin-top: -25px;
    text-align: center;
}
#name{
    margin-left: 45px;
    font-size: 20px;
}
.esquerda{
    margin-left: 85%;
}
.direita{
    margin-left: 38%;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    width: 400px;
    align-self:  center;
}
